**/*.py
.prettierignore
.gitignore
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
dist
/public/favicons/
/public/fonts/
/src/styles/fonts/
/src/assets/fonts/
tsconfig.tsbuildinfo