web/client/**/*.py
web/client/.prettierignore
web/client/.gitignore
web/client/node_modules/
web/client/test-results/
web/client/playwright-report/
web/client/playwright/.cache/
web/client/dist
web/client/public/favicons/
web/client/public/fonts/
web/client/src/styles/fonts/
web/client/src/assets/fonts/
web/client/tsconfig.tsbuildinfo
web/client/src/utils/tbk-components.js

node_modules/
vscode/extension/node_modules/
vscode/extension/dist
vscode/extension/out
vscode/extension/tsconfig.tsbuildinfo
vscode/extension/.vscode-test/

sqlmesh
docs
tests
examples
posts
.circleci
README.md
mkdocs.yml
.readthedocs.yaml
.pre-commit-config.yaml
package-lock.json
**/*.md
.ruff_cache
.pytest_cache
.venv
.vscode
build