project: repo_2

gateways:
  local:
    connection:
      type: duckdb
      database: db.duckdb

  memory:
    connection:
      type: duckdb

default_gateway: local


before_all:
  - CREATE TABLE IF NOT EXISTS before_2 AS select @two()
after_all:
  - CREATE TABLE IF NOT EXISTS after_2 AS select @dup()

model_defaults:
  dialect: 'duckdb'

linter:
  enabled: True

  ignored_rules: "ALL"