@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Publico';
  src: url('./assets/fonts/Publico/Publico-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Publico';
  src: url('./assets/fonts/Publico/Publico-Bold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Publico';
  src: url('./assets/fonts/Publico/Publico-Black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Circular STD';
  src: url('./assets/fonts/Circular STD/CircularStd-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Circular STD';
  src: url('./assets/fonts/Circular STD/CircularStd-Bold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Circular STD';
  src: url('./assets/fonts/Circular STD/CircularStd-Black.otf') format('opentype');
  font-weight: 900;
}

.scrollbar::-webkit-scrollbar {
  height: 0.2rem;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: hsl(264, 100%, 60%);
  border-radius: 1rem;
}