.cm-editor,
.cm-editor .cm-content {
  background-color: var(--color-editor);
  color: var(--color-editor-text);
}

.cm-editor .cm-gutters {
  background-color: var(--color-editor);
  border: none;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}

.cm-editor .cm-activeLineGutter {
  background-color: var(--color-theme-lighter);
  color: var(--color-editor-active-line-text);
}

.cm-editor .cm-activeLine {
  background-color: var(--color-theme-lighter);
  color: var(--color-editor-active-line-text);
}

.cm-editor .cm-line::selection,
.cm-editor .cm-line > *::selection {
  background-color: var(--color-brand-100) !important;
  color: var(--color-brand-700) !important;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete {
  border: 1px solid var(--color-neutral-300) !important;
  border-radius: 0.25rem;
}

.cm-editor .cm-tooltip-autocomplete ul li[aria-selected='true'] {
  background: var(--color-primary-10);
  color: var(--color-text);
}

.cm-editor .cm-tooltip-autocomplete .cm-completionIcon-column,
.cm-editor .cm-tooltip-autocomplete .cm-completionIcon-model {
  margin: 0.125rem 1.25rem 0.125rem 0;
}

.cm-editor .cm-tooltip-autocomplete .cm-completionIcon::before {
  display: inline-block;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
}

.cm-editor .cm-tooltip-autocomplete .cm-completionIcon-column::before {
  content: 'col';
  color: var(--color-brand-600);
  background: var(--color-brand-10);
}

.cm-editor .cm-tooltip-autocomplete .cm-completionIcon-model::before {
  content: 'mdl';
  color: var(--color-primary-500);
  background: var(--color-primary-10);
}

.cm-editor .cm-scroller {
  font-family: inherit;
}

.cm-editor .cm-scroller::-webkit-scrollbar,
.cm-editor .cm-tooltip.cm-tooltip-autocomplete ul::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
}

.cm-editor .cm-scroller::-webkit-scrollbar-track,
.cm-editor .cm-tooltip.cm-tooltip-autocomplete ul::-webkit-scrollbar-track {
  background: transparent;
}

.cm-editor .cm-scroller::-webkit-scrollbar-thumb,
.cm-editor .cm-tooltip.cm-tooltip-autocomplete ul::-webkit-scrollbar-thumb {
  background: var(--color-brand);
  border-radius: var(--scrollbar-radius);
}

.cm-editor .cm-tooltip {
  border: none !important;
  outline: none !important;
  background: var(--color-theme) !important;
}

.sqlmesh-expression {
  background: var(--color-secondary-10);
  box-shadow:
    inset 0 -1px 0 0 var(--color-secondary-500),
    inset 0 1px 0 0 var(--color-secondary-500);
}

.sqlmesh-model,
.sqlmesh-model > span {
  display: inline-block;
  color: var(--color-primary-500);
  box-shadow: inset 0 -2px 0 0 transparent;
  font-weight: bold;
}
.sqlmesh-model.--is-action-mode,
.sqlmesh-model.--is-action-mode > span {
  cursor: pointer;
  box-shadow: inset 0 -2px 0 0 var(--color-primary-300);
}

.sqlmesh-model.--is-action-mode:hover {
  opacity: 0.8;
}

.sqlmesh-model.--is-active-model,
.sqlmesh-model.--is-active-model:hover,
.sqlmesh-model.--is-active-model > span,
.sqlmesh-model.--is-active-model:hover > span {
  box-shadow: none;
  cursor: default;
  opacity: 1;
}

.sqlmesh-model__column.--is-original,
.sqlmesh-model__column.--is-original > span,
.sqlmesh-model__column.--is-alias,
.sqlmesh-model__column.--is-alias > span {
  display: inline-block;
  color: var(--color-accent-300);
  font-weight: bold;
}

.sqlmesh-model__column.--is-active-model.--is-alias,
.sqlmesh-model__column.--is-active-model.--is-alias > span {
  display: inline-block;
  color: var(--color-brand-300);
  font-weight: bold;
  box-shadow: inset 0 -2px 0 0 transparent;
}
.sqlmesh-model__column.--is-active-model.--is-alias.--is-action-mode,
.sqlmesh-model__column.--is-active-model.--is-alias.--is-action-mode > span {
  cursor: pointer;
  box-shadow: inset 0 -2px 0 0 var(--color-brand-300);
}
.sqlmesh-model__column.--is-action-mode:hover {
  opacity: 0.8;
}
