.cm-editor,
.cm-editor .cm-content {
  background-color: var(--color-editor);
  color: var(--color-editor-text);
}

.cm-editor .cm-scroller {
  font-family: inherit;
}

.cm-editor .cm-gutters {
  background-color: var(--color-editor);
  border: none;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}

.cm-editor .cm-activeLineGutter {
  background-color: var(--color-theme-lighter);
  color: var(--color-editor-active-line-text);
}

.cm-editor .cm-activeLine {
  background-color: var(--color-theme-lighter);
  color: var(--color-editor-active-line-text);
}

.cm-editor .cm-line::selection,
.cm-editor .cm-line > *::selection {
  background-color: var(--color-brand-100) !important;
  color: var(--color-brand-700) !important;
}

.cm-editor .cm-scroller::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.2rem;
}

.scrollbar--vertical-md .cm-scroller::-webkit-scrollbar {
  width: 0.4rem;
}

.scrollbar--horizontal-md .cm-scroller::-webkit-scrollbar {
  height: 0.4rem;
}

.cm-editor .cm-scroller::-webkit-scrollbar-track {
  background-color: transparent;
}

.cm-editor .cm-scroller::-webkit-scrollbar-thumb {
  background: var(--color-brand);
  border-radius: 1rem;
}

.cm-tooltip {
  border: none !important;
  outline: none !important;
  background: var(--color-theme) !important;
}

.sqlmesh-expression {
  color: var(--color-primary-500);
  background: var(--color-primary-10);
}

.sqlmesh-model,
.sqlmesh-model > span {
  display: inline-block;
  color: var(--color-primary-500);
  box-shadow: inset 0 -2px 0 0 transparent;
  font-weight: bold;
}
.sqlmesh-model.--is-action-mode,
.sqlmesh-model.--is-action-mode > span {
  cursor: pointer;
  box-shadow: inset 0 -2px 0 0 var(--color-primary-300);
}

.sqlmesh-model.--is-action-mode:hover {
  opacity: 0.8;
}

.sqlmesh-model.--is-active-model,
.sqlmesh-model.--is-active-model:hover,
.sqlmesh-model.--is-active-model > span,
.sqlmesh-model.--is-active-model:hover > span {
  box-shadow: none;
  cursor: default;
  opacity: 1;
}

.sqlmesh-model__column.--is-original,
.sqlmesh-model__column.--is-original > span {
  display: inline-block;
  color: var(--color-accent-300);
  font-weight: bold;
}

.sqlmesh-model__column.--is-active-model.--is-derived,
.sqlmesh-model__column.--is-active-model.--is-derived > span {
  display: inline-block;
  color: var(--color-brand-300);
  font-weight: bold;
  box-shadow: inset 0 -2px 0 0 transparent;
}
.sqlmesh-model__column.--is-active-model.--is-derived.--is-action-mode,
.sqlmesh-model__column.--is-active-model.--is-derived.--is-action-mode > span {
  cursor: pointer;
  box-shadow: inset 0 -2px 0 0 var(--color-brand-300);
}
.sqlmesh-model__column.--is-action-mode:hover {
  opacity: 0.8;
}
