.gutter {
  background-color: var(--color-brand);
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 1;
}

.gutter:hover {
  background-color: var(--color-brand) !important;
  outline: 1px solid var(--color-brand);
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-color: var(--color-divider);
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-color: var(--color-divider);
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
