/* Inter */
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Thin.ttf') format('TrueType');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-ExtraLight.ttf') format('TrueType');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Light.ttf') format('TrueType');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Regular.ttf') format('TrueType');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-SemiBold.ttf') format('TrueType');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Bold.ttf') format('TrueType');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-ExtraBold.ttf') format('TrueType');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Thin.ttf')
    format('truetype');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-ExtraLight.ttf')
    format('truetype');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-display: swap;
}

/* Martina Plantijn */
@font-face {
  font-family: 'Martina Plantijn';
  src:
    url('./fonts/Martina_Plantijn/martina-plantijn-regular.otf')
      format('opentype'),
    url('./fonts/Martina_Plantijn/martina-plantijn-regular.woff2')
      format('woff2');
}

/* Sohne */
@font-face {
  font-family: 'Sohne';
  src:
    url('./fonts/Sohne/sohne-buch.otf') format('opentype'),
    url('./fonts/Sohne/sohne-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src:
    url('./fonts/Sohne/sohne-kraftig.otf') format('opentype'),
    url('./fonts/Sohne/sohne-kraftig.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne';
  src:
    url('./fonts/Sohne/sohne-buch-kursiv.otf') format('opentype'),
    url('./fonts/Sohne/sohne-buch-kursiv.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Sohne Mono';
  src:
    url('./fonts/Sohne/sohne-mono-buch.otf') format('opentype'),
    url('./fonts/Sohne/sohne-mono-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sohne Mono';
  src:
    url('./fonts/Sohne/sohne-mono-kraftig.otf') format('opentype'),
    url('./fonts/Sohne/sohne-mono-kraftig.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
