/* Inter */
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Thin.ttf') format('TrueType');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-ExtraLight.ttf') format('TrueType');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Light.ttf') format('TrueType');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Regular.ttf') format('TrueType');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-SemiBold.ttf') format('TrueType');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Bold.ttf') format('TrueType');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-ExtraBold.ttf') format('TrueType');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter/static/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}

/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Thin.ttf')
    format('truetype');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-ExtraLight.ttf')
    format('truetype');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-display: swap;
}
