@import 'tailwindcss';
@config "../tailwind.config.cjs";

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer components {
  .scrollbar--horizontal::-webkit-scrollbar {
    height: var(--scrollbar-size);
  }
  .scrollbar--vertical::-webkit-scrollbar {
    width: var(--scrollbar-size);
  }
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-backgroud);
    border-radius: var(--scrollbar-radius);
  }
  .input-ring {
    @apply ring-accent-200 ring-offset-accent-500;
  }
  .input-ring:focus {
    @apply outline-none ring-offset-2 ring-4;
  }
}

:root {
  --color-graph-edge-secondary: var(--vscode-disabledForeground);
  --color-graph-edge-main: var(--vscode-disabledForeground);
  --color-graph-edge-selected: var(--vscode-textLink-foreground);
  --color-graph-edge-direct: var(--vscode-disabledForeground);
}
