.md-header {
    background-color: #111010;
  }

.md-tabs {
    background-color: #181717;
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    box-shadow: none;
    background: none; 
}

.md-nav--secondary .md-nav__title {
    background: none;
    box-shadow: none;
}
a {
    color:#ff8333; 
}

a:active {
    color:#ff8333;
}

a:hover {
    color:#ff8333; 
}

a:visited {
    color:#ff8333;
}

a:before {
    color:#ff8333;
}

.md-typeset a {
    color:#ff8333;
}

.md-typeset a:active {
    color:#ff8333;
}

.md-nav__item .md-nav__link--active {
    color:#ff8333;
}

.md-typeset a:hover {
    color:#ff8333;
}

.md-typeset a:visited {
    color:#ff8333;
}

.md-footer {
    background-color: #ffffff;
}

html .md-footer-meta.md-typeset a {
    color:#ff8333;
}

.md-footer-meta {
    background-color: #181717;
}

[data-md-color-scheme="tobiko-light"] {
    --md-default-bg-color: #ffffff;
    --md-default-fg-color--dark: #000000;
    --md-default-fg-color--light: #000000;
    --md-primary-fg-color--light: #ffffff;
    --md-typeset-color: #000000;
}

[data-md-color-scheme="tobiko-dark"] {
    --md-default-bg-color: #282727;
    --md-default-fg-color--light: #ffffff;
    --md-default-fg-color--dark: #ffffff;
    --md-primary-fg-color--dark:  #282727;
    --md-typeset-color: #ffffff;
}
