.react-flow__node.react-flow__node-model:hover {
  z-index: 10 !important;
}

react-flow__attribution {
  background: transparent;
}

.lineage__column-source b {
  font-weight: 900;
  color: var(--color-primary);
}
